# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py
.env
.env.*

# VSCode / IDE
.vscode/
.idea/
*.swp

# System
.DS_Store
Thumbs.db

# Migrations (optional: you can keep empty __init__.py if needed)
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.log

# Coverage & Testing
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
venv-12/
venv/
# MyPy
.mypy_cache/
.dmypy.json